<div class="admin__field-options bfb-column bfb-column{{ element.options_column }} {{ element.auto_width ? 'bfb-choices-auto-width' : '' }} bfb-choices-image-style-{{ element.choices_images_style }}">
    <div class="admin__field-option bfb-checkbox-item bfb-choices-item {{ option.default ? 'option-selected' : '' }}" ng-repeat="option in element.options">
    	<label for="{{ element.id }}option{{ $index }}">
			<div class="bfb-choices-image" ng-if="option.image">
				<img ng-if="option.image" ng-src="{{ $root.magezonBuilderUrl.getImageUrl(option.image) }}" width="{{ element. image_width}}" height="{{ element. image_height}}"/>
			</div>
			<input class="admin__control-checkbox" type="checkbox" ng-checked="option.default" id="{{ element.id }}option{{ $index }}"/>
			<label for="{{ element.id }}option{{ $index }}"></label> <span ng-bind-html="option.label"></span></span>
		</label>
    </div>
    <div class="admin__field-option bfb-checkbox-item bfb-choices-item" ng-if="element.others">
    	<label for="{{ element.id }}others">
			<input class="admin__control-checkbox" type="checkbox" id="{{ element.id }}others"/>
			<label for="{{ element.id }}others"></label> <span ng-bind-html="element.others_label"></span></span>
		</label>
    </div>
</div>