<?xml version="1.0"?>
<!--
/**
 * OneStepCheckout
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to One Step Checkout AS software license.
 *
 * License is available through the world-wide-web at this URL:
 * https://www.onestepcheckout.com/LICENSE.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to mail@onestepcheckout.com so we can send you a copy immediately.
 *
 * @category   onestepcheckout
 * @package    onestepcheckout_iosc
 * @copyright  Copyright (c) 2017 OneStepCheckout  (https://www.onestepcheckout.com/)
 * @license    https://www.onestepcheckout.com/LICENSE.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_before">
        <observer name="onestepcheckout_iosc_checkout_submit_before" instance="Onestepcheckout\Iosc\Observer\Frontend\Registration\CheckoutSubmitBefore" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="onestepcheckout_iosc_checkout_submit_all_after_register" instance="Onestepcheckout\Iosc\Observer\Frontend\Registration\CheckoutSubmitAfter" />
        <observer name="onestepcheckout_iosc_checkout_submit_all_after_subscribe" instance="Onestepcheckout\Iosc\Observer\Frontend\Subscribe\CheckoutSubmitAfter" />
    </event>
    <event name="paypal_express_place_order_success">
        <observer name="onestepcheckout_iosc_paypal_express_place_order_success_register" instance="Onestepcheckout\Iosc\Observer\Frontend\Registration\CheckoutSubmitAfter" />
        <observer name="onestepcheckout_iosc_paypal_express_place_order_success_subscribe" instance="Onestepcheckout\Iosc\Observer\Frontend\Subscribe\CheckoutSubmitAfter" />
    </event>
</config>
