<?xml version="1.0"?>
<!--
/**
 * OneStepCheckout
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to One Step Checkout AS software license.
 *
 * License is available through the world-wide-web at this URL:
 * https://www.onestepcheckout.com/LICENSE.txt
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to mail@onestepcheckout.com so we can send you a copy immediately.
 *
 * @category   onestepcheckout
 * @package    onestepcheckout_iosc
 * @copyright  Copyright (c) 2017 OneStepCheckout  (https://www.onestepcheckout.com/)
 * @license    https://www.onestepcheckout.com/LICENSE.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
<!-- Setup version is not extension version, get the extension version from Stores > Configuration > Sales > OneStepCheckout  or from composer.json file -->
    <module name="Onestepcheckout_Iosc" setup_version="2.0.6">
        <sequence>
            <module name="Magento_Customer" />
            <module name="Magento_Checkout" />
            <module name="Magento_SalesRule" />
            <module name="PHPStudios_DualCheckout" />
        </sequence>
    </module>
</config>
